<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="mysql" connectionString="Driver={MySQL ODBC 8.0 Unicode Driver};Server=сървър;Database=база данни;User=юзър;Password=парола;" />
    <add name="mssql" connectionString="Data Source=сървър;Initial Catalog=база данни;User ID=юзър ИД;Password=парола;" />
  </connectionStrings>
  <appSettings>
    <add key="mysqlQuery" value="тук пишем селекта" />
    <add key="mssqlQuery" value="тук пишем инсърта" />
  </appSettings>
</configuration>
